.infos {
  text-align: center;
  margin: 50px;
}

.name {
  font-size: 44px;
  font-weight: bold;
  transition: 0.3s;
}

.name:hover {
  color: var(--sorbe);
  transition: 0.3s;
}

.title {
  display: block;
  margin-bottom: 10px;
}

.stats {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.stats > * {
  display: flex;
  align-items: center;
  gap: 7px;
}
