.container {
  /* border-radius: 3px solid white; */
  /* width: 50%; */
  /* margin: auto; */
  /* position: absolute; */
  /* height: 100%; */
  /* width: 100%; */
  /* background-color: teal; */
  /* position: relative; */
  /* display: block; */
  /* background-color: hotpink; */
  /* display: flex;
  flex-direction: column; */
  /* height: 800px; */
  /* width: 800px; */
  /* border: 5px solid green; */
  /* display: flex;
  align-items: center; */
  /* z-index: 4; */
}

.container input {
  width: 400px;
  border: none;
  /* width: 100%; */
  /* width: 80%; */
  /* height: 100%; */
  padding: 0.5rem 2rem;
  color: white;
  caret-color: var(--sorbe);

  /* margin: auto; */
  /* height: 2rem; */
  /* background-color: var(--ocean-dark); */
  /* background-color: #090014; */
  /* background-color: rgba(128, 128, 128, 0.26); */
  /* background-color: #200038; */
  background-color: rgba(128, 128, 128, 0.1);
  /* border: 2px solid white; */
  border-radius: 30px;
  /* transition: 0.2s; */
  /* transition: 0.3s; */
}

.container input:focus {
  border: 3px dashed var(--sorbe);
  /* border: 2px solid var(--sorbe); */
  /* background-color: #e91e63; */
  /* transition: 0.2s; */
}

.container input::placeholder {
  color: rgba(128, 128, 128, 0.7);
}
.container svg {
  color: rgba(128, 128, 128, 0.7);
}
.container input:focus::placeholder {
  color: transparent;
  /* transition: 0.1s; */
}
.container input:not(:focus) + ul {
  opacity: 0;
}

.container img {
  width: 50px;
  border-radius: 5px;
}

.list {
  /* position: fixed;
  top: 0; */
  /* inset: 0px auto auto 0px; */
  /* width: 100%; */
  /* padding: 20px; */
  width: 400px;
  /* transform: translate(-50%, 0); */
  position: absolute;
  top: 3rem;
  /* width: 100%; */
  max-height: 80vh;
  overflow-y: scroll;
  /* background-color: black; */
  /* background: #090014; */
  background: #1c002e;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: flex-start;
  padding: auto;
  /* flex-direction: column; */
  /* gap: 0.5rem; */
  z-index: 1;
}

.item {
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* width: 300px; */
  cursor: pointer;
  width: 100%;
  padding: 10px;
  /* border: 1px solid grey; */
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.2s;
}

.item:hover {
  /* color: var(--sorbe); */
  color: #dd0058;
  /* color: rgb(132, 0, 194); */
  /* background: #250040; */
  background: #250040;
  transition: 0.2s;
}
.item:hover img {
  transform: scale(1.1);
  /* transition: 0.2s; */
}
.infos {
  display: flex;
  flex-direction: column;
}
