.autocomplete {
  display: flex;
  align-items: center;
}

.autocomplete input {
  width: 500px;
  border: none;
  height: 40px;
  padding-left: 45px;
  color: white;
  caret-color: var(--sorbe);
  font-size: 18px;
  background-color: #170029;
  border-radius: 30px;
  transition: 0.3s;
  border: 3px solid transparent;
}

.autocomplete input:focus {
  border: 2px solid var(--sorbe);
  width: 400px;
  transition: 0.3s;
}

.autocomplete input:focus + svg {
  color: var(--sorbe);
}

.autocomplete input::placeholder {
  color: rgba(128, 128, 128, 0.7);
  /* text-align: center; */
}
.autocomplete svg {
  position: absolute;
  left: 10px;
  top: 50%;
  line-height: 40px;
  font-size: 22px;
  /* border: 1px solid red; */
  transform: translate(0, -50%);
  color: rgba(128, 128, 128, 0.4);
  transition: 0.3s;
}
.autocomplete input:focus::placeholder {
  color: transparent;
  /* transition: 0.9s; */
}

.autocomplete img {
  width: 50px;
  border-radius: 5px;
}

.list {
  /* inset: 0px auto auto 0px; */
  width: 400px;
  position: absolute;
  top: 50px;
  max-height: 80vh;
  overflow-y: scroll;
  /* background: #1c002e; */
  background: #170029;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: auto; */
  z-index: 2;
}

.item {
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* width: 300px; */
  cursor: pointer;
  width: 100%;
  padding: 10px;
  /* border: 1px solid grey; */
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.2s;
}

.wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:hover {
  /* color: var(--sorbe); */
  color: #dd0058;
  /* color: rgb(132, 0, 194); */
  /* background: #250040; */
  background: #250040;
  transition: 0.2s;
}
.item:hover .wrapper {
  transform: scale(1.1);
  /* transition: 0.2s; */
}
.infos {
  display: flex;
  flex-direction: column;
}

.separator {
  background-color: #0e0016;
  height: 5px;
  width: 100%;
}
