.player {
  width: 100%;
  height: 100%;
}

.video {
  width: inherit;
  height: inherit;
}

.background {
  position: fixed;
  object-fit: cover;
  filter: blur(15px) brightness(40%);
  margin: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
}

.timer {
  cursor: pointer;
  left: 0;
  bottom: 0;
  height: 10px;
  z-index: 2;
  transition: 0.3s;
}

.timer:hover .bar {
  height: 10px;
}
