.content {
  margin-top: 50px;
  /* border: 1px solid red; */
}

.bar {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  width: 400px;
  height: 2px;
  background: var(--sorbe);
  animation: slide 1s linear infinite;
  z-index: 2;
}

@keyframes slide {
  from {
    left: -400px;
  }
  to {
    left: 100vw;
  }
}
