/* 
2 vars : 
.controls height : 30px 

*/
.controls {
  position: absolute;
  bottom: 30px;
  right: 40px;
  height: 30px;
  display: flex;
  align-items: center;
}

.controls > * {
  height: 100%;
  line-height: 30px;
}

.sound,
.quality,
.speed {
  position: relative;
  cursor: pointer;
}

.sound:hover > svg,
.quality:hover > svg,
.speed:hover > svg {
  color: #ff0066;
}

.controls svg {
  height: 100%;
  width: 60px;
  filter: drop-shadow(0px 0px 9px black);
}

.palette {
  width: 100px;
  transform: translate(-20px, 0);
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background: #090c33;
}

.dashboard {
  width: 100px;
  transform: translate(-20px, 0);
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background: #090c33;
}

.dashboard > li {
  border-radius: 3px;
  text-align: left;
  padding: 0 10px;
}

.slider {
  transform: translate(15px, 0);
  background: #090c33;
  position: absolute;
  bottom: 30px;
  display: flex;
  padding: 10px;
  justify-content: center;
  border-radius: 5px;
}

.slider > span {
  height: 100px;
  width: 10px;
  border-radius: 2px;
  background: #80808030;
  display: flex;
  align-items: flex-end;
}
.slider > span > span {
  width: 100%;
  background: var(--sorbe);
}
.palette > span {
  cursor: pointer;
  border-radius: 3px;
  padding: 0 10px;
}
.palette > *:hover,
.dashboard > *:hover {
  background-color: #ff006638;
}
.time {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 5px black;
  width: 140px;
  display: flex;
  align-items: center;
}

.time > span {
  width: 80px;
  justify-content: flex-end;
  text-align: right;
}
