.film {
  position: fixed;
  top: 0;
  right: 0;
  width: 8rem;
  height: 100vh;
  /* border: 1px solid cyan; */

  /* justify-content: space-around; */

  /* overflow-y: scroll; */
  z-index: 1;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px auto;
}

.container {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* gap: 20px; */
  transition: 0.3s;
}
.img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: 1px solid cyan; */

  /* height: 100px; */
  /* z-index: 44; */
}

.selected {
  box-shadow: 0 0 8px 0px #ff0066;
  /* background: #ff0066; */
  /* transform: scale(1.05); */
  transition: 0.1s;
}

.frame {
  cursor: pointer;
  /* border: 1px solid orange; */
  width: 100%;
  /* height: 120px; */
}
