.gallery {
  position: relative;
  width: inherit;
  height: inherit;
}

.background {
  position: fixed;
  object-fit: cover;
  filter: blur(15px) brightness(40%);
  margin: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
}

.number {
  position: absolute;
  bottom: 5px;
  /* left: 25px; */
  right: 5px;
  font-weight: bold;
  /* font-style: italic; */
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
  z-index: 1;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: var(--sorbe);
  animation: slide 4s linear;
  z-index: 1;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
