html,
body {
  /* background-color: #110a1a; */
  background-color: #090014;
  color: rgb(236, 236, 236);
  /* padding: 0; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

:root {
  --cherry: #d2042d;
  --sorbe: #ff0066;
  --ocean-dark: #110a1a;
  --ocean-light: #220e3b;
}
