@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap");
html,
body {
  font-family: "Mali", cursive;
  background-color: #090014;
  color: rgb(230, 230, 230);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

:root {
  /* font-size: 16px; */
  --cherry: #d2042d;
  --sorbe: #ff0066;
  --ocean-dark: #110a1a;
  --ocean-light: #220e3b;
}

.bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2px;
  background: var(--sorbe);
  animation: slide 2s linear infinite;
  z-index: 5;
}

@keyframes slide {
  0% {
    left: -100vw;
  }
  70% {
    left: 100vw;
  }
  100% {
    left: 100vw;
  }
}
