.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #250040;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.open {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
  font-size: 34px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.3s;
}

.left img {
  cursor: pointer;
  height: 100%;
  /* display: inline; */
  width: 210px;
}

.open:hover {
  background: #ffffff26;
  color: var(--sorbe);
}

.login {
  cursor: pointer;
  border-radius: 23px;
  padding: 5px 15px;
  height: 40px;
  margin-right: 10px;
  background-color: var(--sorbe);
  font-weight: bold;
  transition: 0.4s;
}

.login:hover {
  box-shadow: 0 0 6px 2px var(--sorbe);
}

/* .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons > :nth-child(1) {
  color: white;
}
.icons > :nth-child(2) {
  color: #ff4500;
  background-color: white;
  border-radius: 100%;
} */

.session {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* .session > svg:hover {
  color: var(--sorbe);
  transition: 0.3s;
} */
.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: 0.3s;
}

.user:hover {
  color: var(--sorbe);
  transition: 0.3s;
}

.user:hover > img {
  border: 2px solid var(--sorbe);
  background-color: var(--sorbe);
  transition: 0.3s;
}

.user > img {
  width: 40px;
  border-radius: 100%;
  background-color: var(--ocean-light);
  transition: 0.5s;
}
