.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.left,
.right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.left img {
  cursor: pointer;
  height: 100%;
  width: 210px;
}

.icon:hover {
  background: #ffffff26;
  color: var(--sorbe);
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 100%;
  transition: 0.3s;
}

.left > .icon {
  font-size: 32px;
}

.icons > :last-child {
  color: #ff0066;
}
