.infos {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 3px;
  padding-bottom: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
  z-index: 2;
  /* border: 1px solid grey; */
  /* transition: 0.3s; */
}

.shade {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  /* z-index: 1; */
}

.top {
  font-weight: bold;
}

.bottom {
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}

.stat {
  display: flex;
  align-items: center;
  gap: 3px;
}

.stat > * {
  /* flex-grow: 0; */
}

.stat > svg {
  color: var(--sorbe);
}

.infos a:hover {
  color: var(--sorbe);
  transition: 0.4s;
}

.ups {
  color: var(--sorbe);
  margin-right: 10px;
}

.link:hover {
  cursor: pointer;
  color: var(--sorbe);
  transition: 0.3s;
}
