.masonry {
  position: relative;
  /* height: fit-content; */
}

.menu {
  /* border: 1px solid yellowgreen; */
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 40px; */
  /* height: 30px; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 1;
}

.menu > * {
  cursor: pointer;
  /* background: #ffffff49; */
  background: #0011ff23;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > *:hover {
  background: #ff006f28;
  color: #ff006f;
  transition: 0.3s;
}
