.media {
  transform-origin: 0px 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* left: 500px; */
  /* left: ; */
  /* transform: translate(0, 0);
  transition: transform 1s; */
  /* animation: appear 0.3s linear; */
  /* animation: right 0.4s linear; */
}
.media > * {
  /* max-width: 100%;
  max-height: 100%; */
  /* margin: auto; */
  /* vertical-align: middle; */
  /* display: inline-block; */
  /* display: block; */
  /* border: 4px solid red; */
  /* box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.5); */
}

.background {
  position: fixed;
  object-fit: cover;
  filter: blur(15px) brightness(40%);
  margin: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  /* z-index: 1; */
}

.left {
  animation: left 0.2s linear;
}
.right {
  animation: right 0.2s linear;
}
.yassar {
  animation: left 0.2s linear;
}
.spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--sorbe);
  /* font-size: 48px; */
  animation: spin 1s linear infinite;
  background-color: transparent;
  z-index: -1;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes left {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes right {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
