.wrapper {
  transform-origin: 0px 0px;
  width: 100vw;
  height: 100vh;
  /* max-width: 100%;
      max-height: 100%; */
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper > * {
  max-width: 100%;
  max-height: 100%;
  /* margin: auto; */
  /* vertical-align: middle; */
  /* display: inline-block; */
  /* display: block; */
  box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.5);
}

.background {
  position: fixed;
  object-fit: cover;

  filter: blur(15px) brightness(40%);
  margin: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  /* z-index: 1; */
}

.left {
  animation: left 0.2s linear;
}
.right {
  animation: right 0.2s linear;
}

@keyframes left {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes right {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
