.menu {
  position: fixed;
  top: 3rem;
  height: calc(100vh - 3rem);
  width: 600px;
  z-index: 2;
}

.panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* top: 0; */
  width: 300px;
  height: 100%;
  background-color: black;
  overflow: scroll;
  /* z-index: 2; */
}

.item {
  /* border: 1px solid red; */
  /* height: px; */
  /* padding: 1rem; */
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:hover {
  background-color: rgb(15, 15, 15);
}

.item > :first-child {
  /* background-color: orange; */
  /* height: 100%; */
  line-height: 3rem;
  flex: 4;
  cursor: pointer;
}

.item > :first-child:hover {
  color: var(--sorbe);
  transition: 0.2s;
}

.item > :nth-child(2) {
  /* background-color: plum; */
  flex: 1;
  height: 100%;
  margin: auto;
  line-height: 3rem;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.item > :nth-child(2):hover {
  color: var(--sorbe);
  transition: 0.2s;
}
