.panel {
  min-width: 350px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  overflow-y: scroll;
  /* background: #250040; */
  background: #090c33;
  animation: appear 0.1s linear;
}

.item {
  min-height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  /* background: #1c002f; */
  background: #05061b;
}

.link {
  flex: 1;
  display: flex;
  gap: 10px;
  /* transition: 0.3s; */
}

.link:hover {
  color: var(--sorbe);
}

.wrapper {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.link:hover > .wrapper {
  padding: 3px;
}

.wrapper > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #ffffff26;
}

.text {
  line-height: 60px;
}

.arrow:hover {
  color: var(--sorbe);
  transition: 0.3s;
}

.arrow {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes appear {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0;
  }
}
