.sublist {
  border: 1px solid white;
  margin: auto 3rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-items: center; */
  align-content: center;
  gap: 20px;
  padding: 1rem;
  border: 3px solid red;
  border-radius: 5px;
  /* margin: auto;
  width: 100%; */
  /* background-color: rgb(37, 37, 37); */
}

.sub {
  border: 1px solid green;
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sub:hover {
  color: var(--sorbe);
}

.mock {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
}
