.subpanel {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  min-width: 350px;
  background: #090c33;
  overflow-y: scroll;
}

.item {
  cursor: pointer;
  min-height: 60px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.wrapper {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.item img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background: #ffffff26;
}

.text {
  min-width: 270px;
}

.item:hover {
  color: var(--sorbe);
  transition: 0.3s;
  background: #05061b;
}

.item:hover > .wrapper {
  padding: 3px;
}

.mock {
  cursor: pointer;
  min-height: 60px;
  display: flex;
  gap: 10px;
  padding: 5px;
  align-items: center;
}

.circle {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  animation: loading 1s linear infinite alternate;
}

.rectangle {
  height: 30px;
  border-radius: 20px;
  background-color: grey;
  animation: loading 1s linear infinite alternate;
}

.anime {
  animation: loading 1s linear infinite alternate;
}

@keyframes loading {
  from {
    background: #ffffff0e;
  }
  to {
    background: #ffffff26;
  }
}
