.subpanel {
  /* border: 1px solid yellow; */
  position: fixed;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  /* top: 0; */
  left: 300px;
  width: 300px;
  /* height: 100%; */
  height: calc(100vh - 3rem);
  background-color: black;
  overflow: scroll;
  /* z-index: 2; */
}

.item {
  /* padding: 1rem; */
  /* border: 1px solid red; */
  min-height: 3rem;
  /* width: 100%; */
  display: flex;
  gap: 1rem;
  align-items: center;
  /* justify-content: space-between; */
}

.item > img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.item:hover {
  cursor: pointer;
  color: var(--sorbe);
  transition: 0.2s;
  background-color: rgb(15, 15, 15);
}
.sk {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: grey;
}

.sk2 {
  width: 150px;
  height: 30px;
  background-color: grey;
}
