.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #090014;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: blur(15px) brightness(40%);
  margin: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
}

.help {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
  z-index: 2;
}

.help > ul {
  width: 500px;
  height: 300px;
  font-weight: bold;
  margin: calc(100vh / 2 - 150px) auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
